.git
__pycache__/
*.pyc
.venv/
venv/
.env
configs/external_paths.yaml
checkpoints/
external_models/
examples/outputs/
outputs/
data/
*.pth
*.pt
*.ckpt
*.zip
*.tar
*.tar.gz
*.7z
*.onnx
*.engine
.ipynb_checkpoints/
